{% extends 'base.html' %}

{% block title %} Dersler {% endblock %}

{% block body %}
    {% for course in courses %}
        <div class="container">
            <div class="row" style="margin-top:20px;">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="card" style="width: 18rem;">
                      <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <h6>Dersi Veren Kişi: {{ course.staff.get_full_name }}</h6>
                        <p class="card-text">{{ course.content|safe|linebreaks|truncatechars:34 }}</p>
                        <a href="{{ course.get_absolute_url }}" class="btn btn-primary">İncele</a>
                        {% if request.user.is_authenticated %}
                          <a href="{{ course.get_update_url }}" class="btn btn-outline-dark">Güncelle</a>
                          <a href="{{ course.get_delete_url }}" class="btn btn-danger">Sil</a>
                        {% endif %}
                      </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row mt-4">
        <div class="col-sm-5"></div>
        <div class="col-sm-7">
            <ul class="pagination">
                <li class="page-item {% if not courses.has_previous %}disabled{% endif %}">
                    <a class="page-link" {% if not courses.has_previous %} href="#" {% endif %} {% if courses.has_previous %} href="?sayfa={{ courses.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" {% endif %} tabindex="-1" aria-disabled="true">Önceki</a>
                </li>

                {% for page in courses.paginator.page_range %}
                <li class="page-item {% ifequal page courses.number %}active{% endifequal %}"><a class="page-link" href="?sayfa={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
                {% endfor %}

                <li class="page-item {% if not courses.has_next %}disabled{% endif %}">
                    <a class="page-link" {% if not courses.has_next %} href="#" {% endif %} {% if courses.has_next %} href="?sayfa={{ courses.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" {% endif %} tabindex="-1" aria-disabled="true">Sonraki</a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}