{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Dersler {% endblock %}

{% block body %}
	<div class="container-fluid">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
		<ul class="nav nav-tabs justify-content-end">
			<li class="listelemeTab">
			<a class="nav-link active" id="list-tab" data-toggle="tab" href="#list" role="tab" aria-controls="list" aria-selected="false">Liste</a>
			</li>
			<li class="listelemeTab">
    			<a class="nav-link" id="form-tab" href="{% if request.user.is_authenticated %}{% url  'course:create' %}{% endif %} {% if not request.user.is_authenticated %}{% url  'accounts:login' %}{% endif %}" aria-selected="true">Ders Ekle</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="list-tab">
				<div class="card">
					<div class="card-header">
						<h4>Dersler</h4>
					</div>
					<div class="card-body">
                        <form method="get" role="search">
                            <div class="row justify-content-end">
                                <div class="col-sm-4" style="right: 52px;">
                                    <div class="row">
                                        <div class="col-sm-10">
                                            <input class="form-control mb-3" type="search" aria-label="Ara" style="height: 35px;width:250px;" aria-describedby="inputGroup-sizing-lg" name="q" value="{{ request.GET.q }}">
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-primary" type="submit">Ara</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <table id="userList" class="table table-bordered table-hover table-striped">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Ders Adı</th>
                                <th scope="col">Dersin Konusu</th>
                                <th scope="col">Ders Ücreti</th>
                                <th scope="col">Durum</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for course in courses %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ course.name }}</td>
                                <td>{{ course.subject }}</td>
                                <td>{% if course.price %}{{ course.price }}{% endif %}{% if not course.price %}Belirtilmemiş{% endif %}</td>
                                <td>{% if course.state %}Aktif{% endif %}{% if not course.state %}Pasif{% endif %}</td>
                                {% ifequal request.user course.staff %}
                                <td>
                                    <div style="text-align:center;">
                                        <button style="background-color:blue;border-radius:5px;;width:39px;height: 35px;" data-toggle="tooltip" data-placement="right" title="Güncelle">
                                            <a href="{{ course.get_update_url }}"><i class="fas fa-edit" style="color:white;"></i></a>
                                        </button> |
                                        <button style="background-color:red;border-radius:5px;;width:39px;height: 35px;" data-toggle="tooltip" data-placement="right" title="Sil">
                                            <a href="{{ course.get_delete_url }}"><i class="fas fa-times" style="color:white;"></i></a>
                                        </button>
                                    </div>
                                </td>
                                {% endifequal %}
                                {% ifnotequal request.user course.staff %}
                                <td>
                                    {% if course.state %}
                                    <div style="text-align:center;">
                                        <button style="background-color:green;border-radius:5px;width:39px;height: 35px;" data-toggle="tooltip" data-placement="right" title="Dersi İncele">
                                            <a href="{{ course.get_absolute_url }}"><i class="fas fa-angle-double-right" style="color:white;"></i></a>
                                        </button>
                                    </div>
                                    {% endif %}
                                </td>
                                {% endifnotequal %}
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                        <div class="row justify-content-center mt-3">
                            <ul class="pagination">
                                <li class="page-item {% if not courses.has_previous %}disabled{% endif %}">
                                    <a class="page-link" {% if not course.has_previous %} href="#" {% endif %} {% if courses.has_previous %} href="?sayfa={{ courses.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" {% endif %} tabindex="-1" aria-disabled="true">Önceki</a>
                                </li>

                                {% for page in courses.paginator.page_range %}
                                <li class="page-item {% ifequal page courses.number %}active{% endifequal %}"><a class="page-link" href="?sayfa={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
                                {% endfor %}

                                <li class="page-item {% if not courses.has_next %}disabled{% endif %}">
                                    <a class="page-link" {% if not courses.has_next %} href="#" {% endif %} {% if courses.has_next %} href="?sayfa={{ courses.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" {% endif %} tabindex="-1" aria-disabled="true">Sonraki</a>
                                </li>

                            </ul>

                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
