{% extends 'base.html' %}

{% block title %} {{ course.name }} {% endblock %}

{% block body %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ contact.name }}</h5>
                <h6>Post Sahibi: {{ contact.full_name }}</h6>
                <h6>E-Mail: {{ contact.eMail }}</h6>
                <h6>Cevaplanma Durumu: {% if contact.answered %}Cevaplandı{% endif %}{% if not contact.answered %}Cevaplanmadı{% endif %}</h6>
                <h6>Cevaplayan Kişi: {{ contact.post_answered_user }}</h6>
                <p class="card-text">{{ contact.content|safe|linebreaks }}</p>
                {% if request.user.is_authenticated %}
                  <a href="{{ contact.get_update_url }}" class="btn btn-outline-dark">Güncelle</a>
                  <a href="{{ contact.get_delete_url }}" class="btn btn-danger">Sil</a>
                {% endif %}
              </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
