{% extends 'base.html' %}

{% block title %}Hakkımızda{% endblock %}

{% block bodystyle %}background-color:white;{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <img src="https://scontent.fada2-2.fna.fbcdn.net/v/t31.0-8/p960x960/18921157_1316548488444043_3673620935649062983_o.png?_nc_cat=101&_nc_sid=85a577&_nc_ohc=fbR6IobfQNkAX9lXnwV&_nc_ht=scontent.fada2-2.fna&oh=82516849a087e5837bdfe79869f0f418&oe=5EFCCBDB"  width="400" height="400">
            <div style="text-align:center;margin-top:50px;">
               <h1 style="color:blue;">LifeCoachDemy Ekibi</h1>
               <p style="color:black;align:left;">Kemal CANDAN-21590939</p>
               <p style="color:black;align:left;">Osman KÖYMEN-21693191</p>
            </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-8">
           <div>

               <h1 style="color:blue;">LifeCoachDemy</h1>

               <p style="color:black;align:left;">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   LifeCoachDemy platformu sizlere en iyi hizmet vermek amacıyla kurulmuştur.Bu platform sayesinde takıldığınız yapmakta zorluk yaşadığınız projeleri yaptırabilirsiniz.Ayrıca gerekli eğitimi aldıktan sonra sınav sonucuna göre eğitmen olabilirsiniz.Eğitmen olmak için ön sınava girip başarılı olursanız eğitmen olarak çalışabilirsiniz.Çeşitli alanlarda eğitim görerek kendinizi geliştirip eğitmen olabilirsiniz.
               </p>

               <h1 style="color:blue;align:left;">Hayata Hazırlamak</h1>
               <p style="color:black;align:left;">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   "İnsan önce beslenmeyi, korunmayı, barınmayı öğrendi. Sonra çevresinde ulaşabileceği şeylerden alet yapmayı, ateşi yakmayı… Beraber yaşamayı ve yaşadığı toprağı ekip biçmeyi kattı hayatına; tarım büyük bir güçtü onun için, tarımla elde ettiklerini işlemeyi ve yeni aletleri keşfettikçe sanayileşmeye başladı… İnsan sayısı ve gücü en büyük sermeye idi. Nihayet dogmalardan sıyrıldıkça insan kendini keşfetmeye başladı ve kendini tanıdıkça, fark yarattıkça en büyük sermayenin nicelik değil, nitelik olduğu anlaşıldı. İnsan kendi olgunluk yolculuğunda önce kendisini ruhsal olarak beslemesi, zihinsel, duygusal, bedensel olarak en iyi hale getirmesi gerektiğini, kendi içindeki ateşi yakmanın önemini ve öncelikle kendi düşünce dünyasına doğru tohumları ekmesi ve böylece doğru sonuçları biçebileceğini öğrendi veya öğrenmesi gerektiğini keşfetti… Büyük dönüşüm kendi içinde olgunlaşıyor, bunu fark edenler ise fark yaratıyor…"
                   <br>
                   <br>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   İki tür cahillik vardır. Birisi gerçekten bilgisiz donanımsız olmak ancak bunun farkında olmamak. Kişi bunun farkında olmadığı için içsel olarak mutluluğun kaynakları çok basit olabilir ve her şeyi yapabileceğine inanıp "cahil cesareti" dediğimiz şeyi gerçekleştirebilir. Bu kişilerin neyi, ne kadar elde edebileceklerini varın siz hesaplayın.  Diğeri ise öğrendikçe aslında ne kadar cahil olduğunu keşfeden kişidir. Bu tür cahillik aslında iyidir, çünkü kişi kendini gelişime açar ve öğrenme sürecinden keyif alarak yaşamı mükemmel bir serüvene dönüştürüverir. Aslında bilgiye ve kendine yatırım yapmayı keşfetmiş, yaşamı anlamlandırmayı başarmış bireyi temsil eder. İşte bu bahsettiğimiz "Gelişimsel cahillik"  farkı yaratan farkı ortaya çıkarmaktadır.
                   <br>
                   <br>
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   Eğitim sistemimiz (sistemsizliğimiz!) gençlerimizi hayata, meslek yaşamına hazırlamak yerine sınavlara hazırlamaktadır. Asıl sınav olan hayatın kendisi için ne verdiği ise tartışmalıdır, ancak farkı yaratan farkı öğretemediği de gerçektir. Örneğin anaokulundan beri yabancı dil eğitimi alan insanların meslek hayatına atıldıktan sonra hala dil eğitimi almak için çaba göstermeleri büyük bir ironidir. Maalesef eğitim sistemimiz insanlara ne alması gereken bilgileri tam olarak verebilmekte ne de onların yaşamda başarılı olacak yönlerinin gelişmesine yardımcı olmaktadır.
               </p>
               <br>
               <a href="https://www.lifecoach.com.tr/post/2015/03/01/hayata-haz%C4%B1rlanmak">Hayata Hazırlanmak</a>

           </div>
        </div>
   </div>

</div>
{% endblock %}