body{
    background-color: #dde2e8;
}

.nav-item {
    font-size: 1.4rem;
    transform: skew(-20deg, 0);
    transition: all 0.3s ease;
    width: 170px;
    text-align: center;
    margin-left: 10px;
}

.nav-item.active,
.nav-item:hover {
    background-color: #76767b61;
}

.nav-item.active:hover {
    background-color: #adadad;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: white;
}


.listelemeTab {
    font-size: 1.4rem;
    transform: skew(-20deg, 0);
    transition: all 0.3s ease;
    width: 170px;
    text-align: center;
    margin-left: 10px;
}

.listelemeTab.active {
    background-color: #76767b61;
}

.listelemeTab:hover {
    background-color: #76767b61;
}

.tumListe {
    font-size: 1.4rem;
    transform: skew(-20deg, 0);
    transition: all 0.3s ease;
    width: 170px;
    text-align: center;
    margin-right: 10px;
    background-color: #76767;
}

.nav-item.active,
.nav-item:hover {
    background-color: #76767b61;
}

.nav-item.active:hover {
    background-color: #adadad;
}

.nav-item.active .nav-link,
.nav-item:hover .nav-link {
    color: white;
}