{% extends 'base.html' %}

{% block title %} Projeler {% endblock %}

{% block body %}
    <div class="row justify-content-center mt-3">
        <div class="col-sm-3">
            <form method="get" role="search" class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-lg">
                    <input class="form-control mb-3" type="search" aria-label="Ara" aria-describedby="inputGroup-sizing-lg" name="q" value="{{ request.GET.q }}">
                    <button class="btn btn-success my-2 my-sm-0" type="submit" style="height: 50px;">Ara</button>
                </div>
            </form>
        </div>
    </div>

    {% for project in projects %}
        <div class="container">
            <div class="row justify-content-center" style="margin-top:20px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.name }}</h5>
                        <h6>Proje Sahibi: {{ project.project_owner.get_full_name }}</h6>
                        <p class="card-text">{{ project.content|safe|linebreaks|truncatechars:34 }}</p>
                        <a href="{{ project.get_absolute_url }}" class="btn btn-primary">İncele</a>

                        {% if request.user.is_authenticated %}
                            <a href="{{ project.get_update_url }}" class="btn btn-outline-dark">Güncelle</a>
                            <a href="{{ project.get_delete_url }}" class="btn btn-danger">Sil</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row justify-content-center mt-3">
        <ul class="pagination">
            <li class="page-item {% if not projects.has_previous %}disabled{% endif %}">
                <a class="page-link" {% if not projects.has_previous %} href="#" {% endif %} {% if projects.has_previous %} href="?sayfa={{ projects.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" {% endif %} tabindex="-1" aria-disabled="true">Önceki</a>
            </li>

            {% for page in projects.paginator.page_range %}
            <li class="page-item {% ifequal page projects.number %}active{% endifequal %}"><a class="page-link" href="?sayfa={{ page }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">{{ page }}</a></li>
            {% endfor %}

            <li class="page-item {% if not projects.has_next %}disabled{% endif %}">
                <a class="page-link" {% if not projects.has_next %} href="#" {% endif %} {% if projects.has_next %} href="?sayfa={{ projects.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}" {% endif %} tabindex="-1" aria-disabled="true">Sonraki</a>
            </li>
        </ul>

    </div>

{% endblock %}