{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block body %}
    <div class="container">
        <div style="text-align:center;margin-bottom:40px;"><h1> Kullanıcı Bilgileri </h1></div>
        <div class="row">
            <form class="form" role="form" enctype="multipart/form-data" autocomplete="off" method="post">{% csrf_token %}
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Adınız</label>
                    <div class="col-lg-9">
                        {{ form.name }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Soyadınız</label>
                    <div class="col-lg-9">
                        {{ form.surname }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Mailiniz</label>
                    <div class="col-lg-9">
                        {{ form.mail }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Cep Telefonunuz</label>
                    <div class="col-lg-9">
                        {{ form.cep_tel }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Fotoğraf (İsteğe Bağlı)</label>
                    <div class="col-lg-9">
                        {{ form.photo }}
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Tecrübeniz</label>
                    <div class="col-lg-9">
                        {{ form.experience }}
                    </div>
                </div>
                {{ form.media }}

                <div class="form-group row">
                    <div class="col-lg-12 text-center">
                        <input class="btn btn-primary" type="submit" value="Kaydet">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}