{% extends 'base.html' %}
{% load static %}

{% block title %}Profilim{% endblock %}

{% block body %}

<div class="container-fluid" style="position:relative;margin-bottom:20px;">
    <div class="row justify-content-center">

        <div class="card" style="width: 81.4%;border-radius: 10px;">
            <div class="card-body row justify-content-center" style="box-shadow: 2px 2px 6px #000;padding:5px;background:#CCC">
                <div style="position:absolute;right:120px"><a href="{{ user.get_update_url }}" class="btn btn-primary rounded-2">Profili Güncelle</a></div>
                <div style="position:absolute;right:0px"><a href="{{ user.get_delete_url }}" class="btn btn-danger rounded-2">Hesabımı Sil</a></div>
                {% if user.photo %}
                <div class="col-sm-4">
                    <div style="width: 400px;border-radius: 50%;">
                        <img class="card-img-top" src="{{ user.photo.url }}" alt="Resim Bulunamadı" style="border-radius: 50%;">
                    </div>
                </div>
                {% endif %}
                <div class="col-sm-8">
                    <h1 style="text-align:center;">Profilim</h1><hr>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:105px;">Adınız: </label>
                                <label>{{ user.name }}</label>
                        </div>

                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:80px;">Soyadınız: </label>
                                <label>{{ user.surname }}</label>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:94px;">Mailiniz: </label>
                                <label>{{ user.mail }}</label>
                        </div>
                        <div class="col-sm-3"></div>

                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:30px;">Cep Telefonunuz: </label>
                                <label>{{ user.cep_tel }}</label>
                        </div>

                        <div class="col-sm-3"></div>

                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:27px;">Eğitmenlik Puanı: </label>
                                <label>{% if user.instructor_score %}{{ user.instructor_score }}{% endif %}{% if not user.instructor_score %}Belirtilmemiş{% endif %}</label>
                        </div>

                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:14px;">Toplam Ders Sayısı: </label>
                                <label>{{ user.total_course_number }}</label>
                        </div>

                        <div class="col-sm-3"></div>
                        <div class="col-sm-9">
                                <label style="font-weight:bold;margin-right:18px;">Güncel Ders Sayısı: </label>
                                <label>{{ user.current_course_number }}</label>
                        </div>

                        <div class="col-sm-3"></div>

                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-2"><label style="font-weight:bold;margin-right:30px;">Tecrübeniz: </label></div>
                                <div class="col-10"><label>{{ user.experience|safe }}</label></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="card {% if request.user.is_superuser %}col-sm-5{% endif %}" style="width:81.4%;border-radius: 10px;margin-top:10px;">
            <div class="card-body row justify-content-center" style="box-shadow: 2px 2px 6px #000;padding:5px;background:#CCC">
                <div class="col-sm-8">
                    <h1 style="text-align:center;">Ders/Proje Mesajları</h1><hr>
                </div>
            </div>
        </div>
        {% if request.user.is_superuser %}
        <div class="card col-sm-5" style="border-radius: 10px;margin-top:10px;">
            <div class="card-body row justify-content-center" style="box-shadow: 2px 2px 6px #000;padding:5px;background:#CCC">
                <div class="col-sm-8">
                    <h1 style="text-align:center;">İletişim Mesajları</h1><hr>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


<!--<div class="container-fluid" style="position:relative;top:200px;margin-bottom:20px;">-->
<!--    <div class="row justify-content-center">-->

<!--        <div class="card" style="width: 80%;">-->
<!--            <div class="card-body" style="text-align:center;">-->
<!--                <div style="position:relative;bottom: 50%;left:33%;width: 400px;border-radius: 50%;">-->
<!--                    <img class="card-img-top" src="{% static 'img/asd.png' %}" alt="Card image cap" style="border-radius: 50%;">-->
<!--                </div>-->
<!--                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->
<!--</div>-->


<!--{{ user.get_full_name }}-->

<!--{% if request.user.is_superuser  %} <div class="text-center"><a href="{% url  'contact:index' %}" class="btn btn-secondary rounded-0">İletişim Formları</a></div> {% endif %}-->


{% endblock %}